doctype html
html(ng-app='zombie-pets', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Zombie Pets
    link(href='/vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    link(href='/index.css', rel='stylesheet')
  body(ng-controller='MainController')
    .container
      .row
        .col-xs-12
          h1 {{title}}
      .row
        .col-xs-2
        .col-xs-8
          #cage(ng-show='player1 && player2')
            .row
              h2 Cage
            .row
              .col-xs-1
              .col-xs-4
                #player1
                  h4 Player 1: {{player1.name}}
                  h5 Health:
                  .progress
                    .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: {{player1.health}}%;') {{player1.health}}%
                  .pet(style='background-image: url("{{player1.photo}}");')
                    .health Health: {{player1.health}}
                    .petWep Weapon: {{player1.weapon.name}}
                    .petWep Weapon Damage: {{player1.weapon.damage}}
              .col-xs-2(style='vertical-align: center; display: table-cell;')
                #fight
                  button.btn.btn-success(ng-click='fight()') FIGHT!!
              .col-xs-4
                #player2
                  h4 Player 2: {{player2.name}}
                  h5 Health:
                  .progress
                    .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: {{player2.health}}%;') {{player2.health}}%
                  .pet(style='background-image: url("{{player2.photo}}");')
                    .health Health: {{player2.health}}
                    .petWep Weapon: {{player2.weapon.name}}
                    .petWep Weapon Damage: {{player2.weapon.damage}}
              .col-xs-1
        .col-xs-2
      .row
        .col-xs-4
          h4 Create Weapons
          button.btn.btn-success(ng-minlength='3', ng-maxlength='10', ng-click='toggleWeapon()') Toggle Form
          form(role='form', novalidate, ng-hide='hideWeapon', name='weaponForm')
            .form-group
              label(for='name') Name
              input.form-control#name(required, ng-model='weapon.name', type='text', name='name', autofocus)
            .form-group
              label(for='photo') Photo
              input.form-control#photo(ng-pattern='/^http/', required, ng-model='weapon.photo', type='text', name='photo')
            .form-group
              label(for='damage') Damage
              input.form-control#damage(required, ng-model='weapon.damage', type='number', name='damage')
            button.btn.btn-primary(ng-click='addWeapon()', type='submit', ng-show='weaponForm.$valid') Add Weapon
        .col-xs-4
          h4 Create Pet
          button.btn.btn-success(ng-click='togglePet()') Toggle Form
          form(role='form', novalidate, ng-hide='hidePet', name='petForm')
            .form-group
              label(for='petname') Name
              input.form-control#petName(required, ng-model='pet.name', type='text', name='petname', autofocus)
            .form-group
              label(for='petphoto') Photo
              input.form-control#petPhoto(ng-pattern='/^http/', required, ng-model='pet.photo', type='text', name='petphoto')
            .form-group
              label Health is 100
              input.form-control(type='number', readonly, ng-model='pet.health')
            .form-group
              label(for='weapon')
              select(name='weapon', ng-model='pet.weapon')
                option(ng-repeat='w in weapons', value='{{$value}}') {{w.name}}
            button.btn.btn-primary(ng-click='addPet()', type='submit', ng-show='petForm.$valid') Add Pet
        .col-xs-4
      .row
        .col-xs-12
          h2 Weapons:
          .weapon(ng-repeat='w in weapons', style='background-image: url("{{w.photo}}");')
            .name {{w.name}}
            .damage Damage: {{w.damage}}
      .row
        .col-xs-12
          h2 Pets:
          .pet(ng-repeat='p in pets', style='background-image: url("{{p.photo}}");')
            .petName {{p.name}}
            .health Health: {{p.health}}
            .petWep Weapon: {{p.weapon.name}}
            button.btn.btn-danger(ng-click='setPlayer(1)') 1
            button.btn.btn-danger(ng-click='setPlayer(2)') 2
      .row
        .col-xs-12
          pre {{weapon | json}}
          pre {{weapons | json}}
          pre {{pet | json}}
          pre {{pets | json}}
          pre {{player1 | json}}
          pre {{player2 | json}}


    script(src='/vendor/angular/angular.js')
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.js')
    script(src='/index.js')

